<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      {{ content }}
      
      <!-- Sort list by lowest to highest price -->
      {% assign sorted = site.data.list | sort: "price" %}
      <div class="container">
        <!-- Loop through sortedd list, creating new entries for each item -->
        {% for item in sorted %}
          <div class="item">
            
            <div class="column">
              {% if item.image %}
                  <img src="/assets/{{ item.image }}">
              {% endif %}
            </div>

            <div class="column">
              <h2 class="item-name">{{ item.name }}</h2>
              <div class="additional-info">
                {% if item.platform %}
                    <p><b>Platform:</b> {{ item.platform }}</p>
                {% endif %}
                {% if item.edition %}
                    <p><b>Edition:</b> {{ item.edition }}</p>
                {% endif %}
                {% if item.style %}
                    <p><b>Style:</b> {{ item.style }}</p>
                {% endif %}
                {% if item.storage-capacity %}
                    <p><b>Storage Capacity:</b> {{ item.storage-capacity }}</p>
                {% endif %}
                {% if item.color %}
                    <p><b>Color:</b> {{ item.color }}</p>
                {% endif %}
                {% if item.condition %}
                    <p><b>Condition:</b> {{ item.condition }}</p>
                {% endif %}
            </div>
            </div>
            
            <div class="column">
              <!-- If the last digit of the number is 0, the number will display without
              an extra "padding" 0, add it back in. -->
              {% assign lastDigit = item.price | modulo: 0.1 %}
              <h3 class="price">${{ item.price }}{% if lastDigit == 0 %}0{% endif %}</h3>
            </div>

            <div class="column">
              {% if item.url %}
                <p>
                  <a href="{{ item.url }}" class="button" target="_blank">View item</a>
                </p>
              {% else %}
                <p>
                  <a>No link avaliable.</a>
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
  </body>
</html>